.text-muted > img {
  height: 50%;
  width: 50%;
}

.email-container > img {
  height: 20%;
  width: 20%;
}

nav {
  background-color: #92b8b8 !important;
}

.nav-link {
  background-color: #92b8b8 !important;
  border: black !important;
  color: #000000 !important;
}

.dropdown-menu {
  background-color: #92b8b8 !important;
}

.dropdown-item:hover,
.active:hover,
.nav-link:hover {
  background-color: #61b3b3 !important;
}

.page-footer {
  background-color: #92b8b8;
}
