.text-muted > img {
  height: 40%;
  width: 40%;
}

header > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

header > div > div:nth-child(2) > a > img {
  height: 10%;
  width: 10%;
}

nav {
  background-color: #92b8b8 !important;
}

.nav-link {
  background-color: #92b8b8 !important;
  border: black !important;
  color: #000000 !important;
}

.dropdown-menu {
  background-color: #92b8b8 !important;
}

.dropdown-item:hover,
.active:hover,
.nav-link:hover {
  background-color: #61b3b3 !important;
}

.content {
  height: 100%;
  margin-bottom: 14%;
}

.fixed-bottom {
  position: sticky;
}

.page-footer {
  background-color: #92b8b8;
}

footer > div > a:last-child {
  position: absolute;
  right: 3%;
  color: white;
  background-color: black;
  padding: 0.3% 1rem;
  border-radius: 10px;
}
